DTUDATA/
DataProcessed/
ExperimentalSetup/create_condition_mappings.py
ExperimentalSetup/__pycache__/dataloader.cpython-311.pyc
LaBraM_data/
processed/
log/
*.pth
*.pt
*.ckpt
*.bin
!/checkpoints/*.txt
!/checkpoints/*/*.txt
!/*/checkpoints/*.txt
!/*/checkpoints/*/*.txt
